{% extends "base.html" %}
{% load static %}

{% block description%}"You can create an account on my shop store"{% endblock%}
{% block robots%}index, follow{% endblock%}
{% block title%}{{product.title}}{% endblock %}
{% block keyboards %}Sign up my shop, MyShop{% endblock %}
{% block css %}{% static "products/product.css" %}{% endblock %}

{% block body%}
<!-- ************** header **********************8-->
    {% include "includes/nav.html" %}
    <div id="product-main-con">
        <main>
            <img src = "{{product.image.url}}">
            <div>
                <h1>{{product.title}}</h1>
                <p>{{product.brand.title}}</p>
                <p>{{product.description}}</p>
                <button>Add to Cart</button>
            </div>
        </main> 
        <section id="feedback">
            <h3>Customer's Feedback(s)</h3>
            {%if messages %}
                {%for message in messages%}
                    <p style ="color:green">{{message}}</p>
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                {% for field in form %}

                    {{field.label_tag}}<br>
                    {{field}}

                    {%for error in field.errors%}
                        <p style="color:red">{{error}}</p><br>
                    {%endfor%}
                    

                {%endfor%}

                <button>Submit</button>
            </form>
            
        </section>

        <section id="reviews">

            {% for review in reviews %}
                <h3>{{review.name}} - {{review.rating}} 
                    {%if review.rating == 5%}⭐⭐⭐⭐⭐
                    {% elif review.rating == 4%}⭐⭐⭐⭐
                    {% elif review.rating == 3%}⭐⭐⭐
                    {% elif review.rating == 2%}⭐⭐
                    {% elif review.rating == 1%}⭐
                    {% endif %}
                </h3>
                <p>{{review.text}}
                <br>
                <br>
            {% endfor %}
            


        </section>
        
    </div>

{% endblock%}